.expand-transition {
    transition: all 0.5s ease;
}

.expand-enter, .expand-leave {
    height: 0;
    opacity: 0;
}

li {
    list-style-type: decimal;
    padding: 5px;
}

html {
    font-size: 14px !important;
}

ul.questions {
    padding-left: 0;
}

ul.questions li {
    list-style-type: none;
}

ul.radio {
    padding-left: 0;
}

ul.radio li {
    list-style-type: none;
}
