<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form builder</title>

    <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">

    <script lang="javascript">
        window.gData = {
            abc1: 'aa'
        };
    </script>


</head>
<body>
<div id="survey-builder">
    <h2>Survey Builder</h2>

    <h4>Add</h4>

    <div class="ui buttons">
        <button class="ui red button"
                v-on="click:addRadio">Radio button
        </button>
        <button class="ui blue button"
                v-on="click:addCheckboxes">Checkboxes
        </button>
        <button class="ui green button"
                v-on="click:addTextfield">Textfield
        </button>
        <button class="ui yellow button"
                v-on="click:addSlider">Slider
        </button>
    </div>

    <h4>Questions</h4>

    <ul class="ui form">
        <li v-repeat="q in questions" v-transition="expand">

            <builder-q-radio
                    q="{{@ q}}"
                    position="{{$index}}"
                    v-if="q.type == 'radio'"
            ></builder-q-radio>

            <builder-q-checkboxes
                    q="{{@ q}}"
                    position="{{$index}}"
                    v-if="q.type == 'checkboxes'"
            ></builder-q-checkboxes>

            <builder-q-textfield
                    q="{{@ q}}"
                    position="{{$index}}"
                    v-if="q.type == 'textfield'"
            ></builder-q-textfield>

            <builder-q-slider
                    q="{{@ q}}"
                    position="{{$index}}"
                    v-if="q.type == 'slider'"
            ></builder-q-slider>

        </li>
    </ul>


</div>


<!-- ASSETS-->

<script src="vendor/jquery-2.1.4.min.js"></script>
<script src="vendor/lodash.min.js"></script>
<script src="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>

<script src="vendor/vue.js"></script>
<script src="vendor/vue-resource.js"></script>

<!-- APP JS FILES-->
<script src="build.js"></script>

</body>
</html>
