<div class="ui yellow segment">
    Question: <input class="field" type="text"
                     v-model="q.title"
                     v-attr="placeholder: q.meta.placeholder"
>

    <div class="ui checkbox">
        <input type="checkbox" v-model="q.required">
        <label>Required</label>
    </div>

    <button class="ui inverted red button"
            v-on="click:remove($index)">Remove question
    </button>

    <div class="fields">
        <div class="six wide field">
            <label>From</label>
            <input type="text" v-model="q.meta.from">
        </div>
        <div class="six wide field">
            <label>To</label>
            <input type="text" v-model="q.meta.to">
        </div>
        <div class="four wide field">
            <label>Defualt</label>
            <input type="text" v-model="q.meta.default">
        </div>
    </div>


</div>

