<div class="ui red inverted segment">
    Question: <input class="field" type="text"
                     v-model="q.title"
                     v-attr="placeholder: q.meta.placeholder"
>
    <input type="checkbox" v-model="q.required"> Required</br>

    <button class="ui inverted green button"
            v-on="click:addOption">Add answer option
    </button>

    <button class="ui inverted red button"
            v-on="click:remove">Remove question
    </button>

    <ul class="radio">
        <li v-repeat="option in q.meta.options" v-transition="expand">
            <div class="ui action input fluid">
                <input class="field" type="text"
                       v-model="option.text"
                >
                <button class="ui inverted red button icon"
                        v-on="click:removeOption(option)">
                    <i class="remove icon"></i>
                </button>
            </div>
        </li>
    </ul>

</div>

