<div class="ui green segment">
    Question: <input class="field" type="text"
                     v-model="q.title"
                     v-attr="placeholder: q.meta.placeholder"
>

    <div class="ui checkbox">
        <input type="checkbox" v-model="q.required">
        <label>Required</label>
    </div>

    <button class="ui inverted red button"
            v-on="click:remove($index)">Remove question
    </button>

    </br>

    Text placeholder: <input class="field" type="text"
                             v-model="q.meta.placeholder"
>
</div>


